"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Yikai Zhao"
email = "yikai@z1k.dev"

[ui]
default-command = ["log-as-default-command"]
diff-editor = "jj-magit-diff-editor"
diff-formatter = ":git"
conflict-marker-style = "git"

[templates]
git_push_bookmark = '''
"z1k/" ++
  description
    .first_line()
    .lower()
    .replace(regex:"[^a-z0-9]+", "-")
    .remove_prefix("draft-")
    .substr(0, 42)
    .remove_suffix("-") ++
  "+jj-" ++ change_id.short()
'''
draft_commit_description = '''
concat(
  builtin_draft_commit_description,
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

[git]
# private-commits = "description(glob:'debug:*') | description(glob:'private:*') | description(glob:'tmp:*')"
private-commits = "description(glob:'private:*')"

[aliases]
# show first screen and exit
# - why not using "| head -n $(tput lines)"? because it does not work well with long lines (kept lines may need more lines to display)
# "+G +g +q" is required instead of "+q", to display the content before quit.
log-as-default-command = ["util", "exec", "--", "bash", "-c", "jj --no-pager --color=always log --limit=30 | less -F -R --no-init +G +g +q"]
e = ["edit"]
init = ["git", "init", "--colocate"]
push = ["git", "push"]
fetch = ["git", "fetch"]

tug = ["util", "exec", "--", "bash", "-c", '''
jj bookmark move --from "heads(::@- & bookmarks())" --to "${1:-@-}"
''', "argv0"]

pre-commit = ["util", "exec", "--", "bash", "-c", '''
jj diff -r ${1:-@} --name-only --no-pager | xargs pre-commit run --files
''', "argv0"]

push-mr = ["util", "exec", "--", "jj-push-mr"]

# push-tmp = "push -c" && "bookmark delete"
push-tmp = ["util", "exec", "--", "bash", "-c", '''
set -ex
REV="${1:-@}"
shift
NAME="$(jj log --no-graph -r "$REV" -T '"z1k/jj-tmp-" ++ change_id.short()')"
jj bookmark set --allow-backwards -r "$REV" "$NAME"
jj push --bookmark "$NAME" --allow-new
jj bookmark delete "$NAME"
echo "Bookmark pushed and deleted locally: $NAME"
''', "argv0"]

# similar to "jj new" but allow from unreachable commit
newx = ["util", "exec", "--", "bash", "-c", '''
set -ex

COMMIT=$1
TMPBRANCH="tmp-$(date +%s)"

git branch $TMPBRANCH $COMMIT
jj new $TMPBRANCH
jj bookmark delete $TMPBRANCH
''', "argv0"]
