"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Yikai Zhao"
email = "yikai@z1k.dev"

[ui]
default-command = ["log-as-default-command"]
diff-editor = "magit-as-diff-tool"
diff-formatter = ":git"
conflict-marker-style = "git"

[templates]
git_push_bookmark = '"z1k/jj-" ++ change_id.short()'
draft_commit_description = '''
concat(
  builtin_draft_commit_description,
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

[git]
# private-commits = "description(glob:'debug:*') | description(glob:'private:*') | description(glob:'tmp:*')"
private-commits = "description(glob:'private:*')"

[aliases]
# show first screen and exit
# - why not using "| head -n $(tput lines)"? because it does not work well with long lines (kept lines may need more lines to display)
# "+G +g +q" is required instead of "+q", to display the content before quit.
log-as-default-command = ["util", "exec", "--", "bash", "-c", "jj --no-pager --color=always log --limit=30 | less -F -R --no-init +G +g +q"]
e = ["edit"]
init = ["git", "init", "--colocate"]
push = ["git", "push"]
fetch = ["git", "fetch"]

tug = ["util", "exec", "--", "bash", "-c", '''
jj bookmark move --from "heads(::@- & bookmarks())" --to "${1:-@-}"
''', "argv0"]

pre-commit = ["util", "exec", "--", "bash", "-c", '''
jj diff -r ${1:-@} --name-only --no-pager | xargs pre-commit run --files
''', "argv0"]

push-mr = ["util", "exec", "--", "jj-push-mr"]
