/straight/build/
/straight/build*
/straight/build-cache.el
/straight/repos/
/straight/modified/

/epkgs/

/image-dired/
/devdocs-browser/

/elpa/
/auto-save-list/
/.lsp-session*
/projectile.cache
/projectile-bookmarks.eld
/recentf*
/transient/
/eshell/
/.cache/
/workspace/
/eln-cache/
*.cache
*.bak
/vimish-fold/
/url/

/tramp
/bookmarks
/places*
/projects*
.dap-breakpoints
network-security.data
eww-bookmarks

/custom.el
/early-init-local.el
/init-local.el
/templates.custom/
/tree-sitter/
/multisession/
/codeium/
/.emacs.desktop

__pycache__/
*.py[cod]
*$py.class
