straight/build/
straight/build-cache.el
straight/repos/

elpa/
auto-save-list/
.lsp-session*
projectile*
recentf*
transient/
eshell/
.cache/
workspace/
eln-cache/
*.cache
vimish-fold/

autosave/
bookmarks
places
projects
.dap-breakpoints

custom.el
early-init-custom.el