/straight/build/
/straight/build-cache.el
/straight/repos/

/epkgs/

/image-dired/
/devdocs-browser/

/elpa/
/auto-save-list/
/.lsp-session*
/projectile.cache
/projectile-bookmarks.eld
/recentf*
/transient/
/eshell/
/.cache/
/workspace/
/eln-cache/
*.cache
*.bak
/vimish-fold/
/url/

/tramp
/bookmarks
/places
/projects
.dap-breakpoints
network-security.data

/custom.el
/early-init-custom.el
/templates.custom/
/tree-sitter/
/multisession/
/codeium/
